{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "index.css" %}'>
    </link>
    <title>Cookier</title>
</head>

<body>
    {% include "nav.html" %}
    {% csrf_token %}
    <div id='side-list'>
        <p>{% lorem 3 p random %}</p>
    </div>
    <div id='content'>
    </div>
</body>

</html>

<script>
    var myList = [
        {% for item in items %}
    JSON.parse(("{{ item|safe }}").replaceAll("'", '"')),
        {% endfor %}
    ];
    const content = document.getElementById('content')
    const table = document.querySelector("#content")
    for (eKeys in myList) {
        let htmlInsideTable = '';
        htmlInsideTable += `<div class="box" id="${eKeys}-box">`
        htmlInsideTable += `<input type='submit' onclick = 'page(event)' class="${[myList[eKeys]['itemname'],1]}">Add To Cart</button>`
        for (eKey in myList[eKeys]) {
            if (eKey !== 'id' && eKey !== 'description') {
                entry = myList[eKeys][eKey]
                if(entry)
                htmlInsideTable += `<p>${entry}</p>`
            }
        }
        htmlInsideTable += "</div>"
        content.innerHTML += htmlInsideTable
    }
    user = '{{admin}}'
    if (user == 'True') {
        drawer = document.getElementById('drawer').children[0]
        console.log(user)
        drawer.innerHTML += '<li><a href="/AddItem">AddItem</a></li>'
        drawer.innerHTML += '<hr>'
        {% comment %} drawer.innerHTML += '<li><a href="/ChangeItem">ChanegItem</a></li>' {% endcomment %}
    }

    function page(e)
    {
        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;  
        array = '['+e.target.className+']'
        const validJSONArray = JSON.parse(array.replace(/(\w+)/g, '"$1"'));
        req = fetch(`/Cart/${validJSONArray[0]}/${validJSONArray[1]}`,{method:'POST',headers: {'X-CSRFToken': csrfToken,'Content-Type': 'application/json'}})
        req.then(res=>{
            console.log(res)
            window.location.href = '/Cart'
        })
    }

    document.addEventListener('selectstart', function (e) {
        e.preventDefault();
      });
</script>