.box
{
    display: block;
    width: 80dvw;
    margin: 1dvh;
    align-items: center;
    color: white;
    justify-content: center;
    border: 1px solid #000;
    background-color: #ff4040;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px  #555;
    transition: all .1s linear;
    cursor: crosshair;
}

.box:hover
{
    background-color: #ff8080;
}

.cbx
{
    position: relative;
}

input[type='submit']
{
    display: block;
    margin: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff4040;
    transition: height .05s ease-in,width .1 ease-in;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input[type='submit']:hover
{
    color: #ff8080;
    background-color: white;
    border-radius: 20px;
}


.cart-op {
    position: absolute;
    width: 15dvw;
    height: 35dvh;
    background-color: #ff4040;
    margin: 10px;
    border-radius: 3px;
    right: 2px;

    /* Add any other styling properties you need */
    /* For example, you may want to set a width, height, or alignment properties */
}